In [2]:
import pandas as pd
import time

In [3]:
df = pd.read_csv('export_td.csv')

In [4]:
df.head()

,uid,index,aid,uptime,pos,cd1,cd2,cd3,year,month,day,hour,minute,second
0,ea82386f4623428f8a242b4e17f318ff,11571002,ARUKUMACHIKYOTO,2018-09-01 00:41:49.963188,"(34.9766046,135.6965579)",Android,ja_JP,3.0.50,2018,9,1,0,41,49.963188
1,ea82386f4623428f8a242b4e17f318ff,11572775,ARUKUMACHIKYOTO,2018-09-01 01:42:59.720997,"(34.9678067,135.6703647)",Android,ja_JP,3.0.50,2018,9,1,1,42,59.720997
2,ea82386f4623428f8a242b4e17f318ff,11577524,ARUKUMACHIKYOTO,2018-09-01 04:45:05.261448,"(34.9678602,135.6704294)",Android,ja_JP,3.0.50,2018,9,1,4,45,5.261448
3,ea82386f4623428f8a242b4e17f318ff,11578406,ARUKUMACHIKYOTO,2018-09-01 05:17:43.611878,"(34.9678602,135.6704294)",Android,ja_JP,3.0.50,2018,9,1,5,17,43.611878
4,ea82386f4623428f8a242b4e17f318ff,11580267,ARUKUMACHIKYOTO,2018-09-01 06:18:25.923246,"(34.9678602,135.6704294)",Android,ja_JP,3.0.50,2018,9,1,6,18,25.923246

In [40]:
d=[]
for i in range(len(df)):
    temp = df['pos'][i][1:-1].split(',')
    d.append([temp[0],temp[1]])
d_df = pd.DataFrame(d, columns = ['longitude' , 'latitude'])
d_df

         longitude      latitude
0       34.9766046   135.6965579
1       34.9678067   135.6703647
2       34.9678602   135.6704294
3       34.9678602   135.6704294
4       34.9678602   135.6704294
5       34.9678067   135.6703647
6       34.9678602   135.6704294
7       34.9678079   135.6703703
8        34.967808     135.67037
9         34.97123   135.6706309
10        34.97123   135.6706309
11      34.9684233   135.6714673
12      34.9688486   135.6710574
13      34.9678164   135.6703768
14      34.9678314   135.6703985
15      34.9678406   135.6704055
16      34.9678408   135.6704057
17      34.9678426   135.6704092
18      34.9678407   135.6704059
19      34.9678067   135.6703647
20      34.9678602   135.6704294
21      34.9678602   135.6704294
22      34.9678218   135.6703983
23      34.9678215   135.6703921
24      34.9678196   135.6703889
25      34.9678437   135.6704539
26       34.971452   135.6704631
27        34.97123   135.6706309
28      34.9678602   135.6704294
29      34.9766112   135.6965661
...            ...           ...
625622           0             0
625623  35.0096855   135.7425134
625624  34.3297858    134.052736
625625  37.3443981  -121.9001438
625626           0             0
625627  35.0073045    135.746676
625628  34.8326676    136.959957
625629           0             0
625630           0             0
625631           0             0
625632   34.990644    135.816493
625633  35.0189007   135.7069869
625634  35.0091847   135.7642512
625635  35.6455985   139.7960447
625636  35.5529251   140.3654398
625637           0             0
625638           0             0
625639           0             0
625640  35.3939357   136.5856553
625641  35.6821956   139.7738287
625642  35.3834874   136.7297892
625643  26.2040746   127.6537959
625644  34.9954039   135.8057865
625645           0             0
625646   31.386815   130.8417299
625647           0             0
625648  34.7865151   135.3559056
625649           0             0
625650           0             0
625651  34.9817969   137.1967803

[625652 rows x 2 columns]

In [42]:
result = pd.concat([df, d_df], axis=1, sort=False)
result.head()

,uid,index,aid,uptime,pos,cd1,cd2,cd3,year,month,day,hour,minute,second,longitude,latitude
0,ea82386f4623428f8a242b4e17f318ff,11571002,ARUKUMACHIKYOTO,2018-09-01 00:41:49.963188,"(34.9766046,135.6965579)",Android,ja_JP,3.0.50,2018,9,1,0,41,49.963188,34.9766046,135.6965579
1,ea82386f4623428f8a242b4e17f318ff,11572775,ARUKUMACHIKYOTO,2018-09-01 01:42:59.720997,"(34.9678067,135.6703647)",Android,ja_JP,3.0.50,2018,9,1,1,42,59.720997,34.9678067,135.6703647
2,ea82386f4623428f8a242b4e17f318ff,11577524,ARUKUMACHIKYOTO,2018-09-01 04:45:05.261448,"(34.9678602,135.6704294)",Android,ja_JP,3.0.50,2018,9,1,4,45,5.261448,34.9678602,135.6704294
3,ea82386f4623428f8a242b4e17f318ff,11578406,ARUKUMACHIKYOTO,2018-09-01 05:17:43.611878,"(34.9678602,135.6704294)",Android,ja_JP,3.0.50,2018,9,1,5,17,43.611878,34.9678602,135.6704294
4,ea82386f4623428f8a242b4e17f318ff,11580267,ARUKUMACHIKYOTO,2018-09-01 06:18:25.923246,"(34.9678602,135.6704294)",Android,ja_JP,3.0.50,2018,9,1,6,18,25.923246,34.9678602,135.6704294

In [44]:
result.to_csv('export_plot.csv', index=False)